a {
  color: red;
}
h1 {
  color: white;
  background-color: black;
}

* {width: 700px;}

/* Der Absatz soll Hintergrund blau, Schrift gelb und weite: 600px*/

p {
  background-color: blue;
  color: yellow;
  width: 600px;
  font-family: "Courier New", Courier, monospace;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* das ist ein Kommentar in CSS */

#cat {width: 175px}

/*eine ID in HTML wird zu einem # */

#rot {
  background-color: red;
}
#beyonce {
  border-color: black;
  border-width: 3px;
  border-style: double;
}

/*In CSS wird eine Klasse zu einem . (Punkt)*/
.green {
  background-color: darkcyan;
  color: yellow;
}
/* Subsidaritätsprinzip: speziell schlägt generell = *<element<klasse<id*/